#july4 {
    background-color: #216c8f;
}

#july5 {
    background-color: #3f4d54;
}

#july7 {
    background-color: #00b16a;
}

#july9 {
    background-color: #ff5551;
}

#july10 {
    background-color: #9ac4e1;
}

#july11,#july19 {
    background-color: #2c3e50;
}
#july13 {
    background-color: #2c3e50;
}

#july14 {
  background-color: #ffa7a7;
}

#july15 {
  background-color: #2c3e50;
}

#july17 {
  background-color: #db5959;
}

#july18 {
  background-color: #204eb1;
}

#july21 {
  background-color: #4183df;
}

#july22 {
  background-color: #41210a;
}
