#july4 {
    background-color: #216c8f;
    color: white;
}

#july5 {
    background-color: #3f4d54;
    color: white;
}

#july7 {
    background-color: #00b16a;
    color: white;
}

#july9 {
    background-color: #ff5551;
    color: white;
}

#july10 {
    background-color: #9ac4e1;
    color: white;
}