@font-face {
    src: url(../fonts/lato/Lato-Light.ttf);
    font-family: Lato Light;
}

* {
    margin: 0;
    padding: 0;
    transition: all .3s ease-in-out;
    -webkit-touch-callout: none;
    /* iOS Safari */

    -webkit-user-select: none;
    /* Chrome/Safari/Opera */

    -khtml-user-select: none;
    /* Konqueror */

    -moz-user-select: none;
    /* Firefox */

    -ms-user-select: none;
    /* Internet Explorer/Edge */

    user-select: none;
    cursor: default;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Proxima Nova Soft', sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "proxima-nova-soft";
    line-height: 1.6em;
}

body {
    padding-top: 10px;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover {
    color: #ff5c5c;
}

img {
    width: auto;
    height: auto;
}

.home-page {
    height: 100%;
    width: 100%;
}

.cover {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.nav-home {
    height: 100px;
    padding-top: 35px;
    font-family: Lato Light;
}

.nav-home,
.about {
    color: #333;
    width: 90%;
    margin: 0 auto;live-s
    font-weight: 800;
    font-size: 15px;
}

.about {
    max-width: 800px;
}

.nav-home a {
    margin: 10px;
}

.underline,
.nav-home a {
    position: relative;
}

.underline:before {
    content: "";
    position: absolute;
    margin-top: 25px;
    height: 0;
    width: calc(100% - 2px);
    transition: all 0.2s ease;
}

.underline:hover:before {
    height: 1px;
    background-color: #ff5c5c;
}

.nav-right {
    float: right;
}

.nav-right a i {
    margin: 3px;
    font-size: 20px;
}

#header {
    text-align: center;
    font-size: 60px;
    letter-spacing: 1px;
    color: #ff5c5c;
    font-weight: 100;
}

#auth,
.about p {
    font-weight: 300;
}

#auth {
    font-size: 17px;
    margin: 30px 0 70px 0;
}

.about h1 {
    margin-top: 20px;
}

.about p {
    font-size: 20px;
    margin-top: 20px;
}

.main {
    margin-top: -50px;
    text-align: center;
}

.main-page,
#center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65vh;
}

.design p,
.design span,
.design p a {
    position: absolute;
    align-self: flex-start;
    padding: 30px 0 20px 40px;
    left: 0;
    margin-top: 0;
    font-weight: 800;
    font-size: 20px;
}

.design p a {
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    color: black;
    margin-top: -12px;
}

.design span {
    padding-top: 10px;
    font-weight: 300;
    white-space: nowrap;
}

.design > img {
    max-width: 1000px;
    max-height: 50vh;
}

.laptop {
    overflow-y: scroll;
    width: 1500px;
    height: 45vh;
    background: url(../imgs/macbook.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.laptop div {
    margin: 0 auto;
    margin-top: 3vh;
    overflow-y: scroll;
    max-height: 33.2vh;
    max-width: 56vh;
    padding-right: 10px;
}

.laptop div > img {
    width: 95%;
    height: auto;
}

.scroll {
    position: absolute;
    top: 45vh;
    left: calc(50vw + 380px);
}

@media screen and (max-width: 800px) {
    #header {
        font-size: 30px;
        margin-top: 20px;
    }
    #auth {
        font-size: 10px;
        margin: 5px 0 30px 0;
    }
    .about p {
        font-size: 15px;
    }
    .nav-home {
        padding-top: 10px;
    }
    nav a {
        font-size: 10px;
        margin: 5px;
    }
    #nav-right a i {
        font-size: 15px;
    }
    .design img {
        max-width: 80vw;
    }
    .design {
        width: 100vw;
        padding: 30px 0 30px 0;
        height: auto;
    }
    .design p {
        display: none;
    }
}
