<h1 class='museo-slab' id='header'>A Year of Design</h1>
<h3 class='museo' id='auth'>BY <a href='http://colter.io'>COLTER GIEM</a></h3>
<div id='july20' class='design'>
    <p class='museo'>JULY 20
        <br><span>IT LOOKS LIKE A HORSE!</span>
        <br>
        <a href='../imgs/july20.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july20.png'>
</div>
<div id='july19' class='design'>
    <p class='museo'>JULY 19
        <br><span>PORTAL LOVE</span>
        <br>
        <a href='../imgs/july19.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july19.png'>
</div>
<div id='july18' class='design'>
    <p class='museo'>JULY 18
        <br><span>DECISION 2016</span>
        <br>
        <a href='../imgs/july18.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july18.png'>
</div>
<div id='july17' class='design'>
    <p class='museo'>JULY 17
        <br><span>I SHOULD MAKE THEM PAY ME</span>
        <br>
        <a href='../imgs/july17.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july17.png'>
</div>
<div id='july16' class='design'>
    <p class='museo'>JULY 16
        <br><span>TOWERS</span>
        <br>
        <a href='../imgs/july16.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july16.png'>
</div>
<div id='july15' class='design'>
    <p class='museo'>JULY 15
        <br><span>KEEP ON TRUCKIN'</span>
        <br>
        <a href='../imgs/july15.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july15.png'>
</div>
<div id='july14' class='design'>
    <p class='museo'>JULY 14
        <br><span>HAPPY BASTILLE DAY</span>
        <br>
        <a href='../imgs/july14.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july14.png'>
</div>
<div id='july13' class='design'>
    <p class='museo'>JULY 13
        <br><span>I WUV U</span>
        <br>
        <a href='../imgs/july13.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july13.png'>
</div>
<div id='july12' class='design'>
    <p class='museo'>JULY 12
        <br><span>POISON IVY</span>
        <br>
        <a href='../imgs/july12.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july12.png'>
</div>
<div id='july11' class='design'>
    <p class='museo'>JULY 11
        <br><span>PERSPECTIVE</span>
        <br>
        <a href='../imgs/july11.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july11.png'>
</div>
<div id='july10' class='design'>
    <p class='museo'>JULY 10
        <br><span>AIR KAZAKHSTAN</span>
        <br>
        <a href='../imgs/july10.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july10.png'>
</div>
<div id='july9' class='design'>
    <p class='museo'>JULY 9
        <br><span>GRADELY</span>
        <br>
        <a href='../imgs/july9.png' download>DOWNLOAD
        </a>
    </p>
    <div class='laptop'>
        <div><img src='../imgs/july9.png'>
        </div>
    </div>
</div>
<div id='july8' class='design'>
    <p class='museo'>JULY 8
        <br><span>PARALLEL</span>
        <br>
        <a href='../imgs/july8.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july8.png'>
</div>
<div id='july7' class='design'>
    <p class='museo'>JULY 7
        <br><span>DESSERTS</span>
        <br>
        <a href='../imgs/july7.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july7.png'>
</div>
<div id='july6' class='design'>
    <p class='museo'>JULY 6
        <br><span>#ANYONEBUTTRUMP</span>
        <br>
        <a href='../imgs/july6.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july6.png'>
</div>
<div id='july5' class='design'>
    <p class='museo'>JULY 5
        <br><span>APACHE</span>
        <br>
        <a href='../imgs/july5.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july5.png'>
</div>
<div id='july4' class='design'>
    <p class='museo'>JULY 4
        <br><span>SWEET 240TH</span>
        <br>
        <a href='../imgs/july4.png' download>DOWNLOAD
        </a>
    </p><img src='../imgs/july4.png'>
</div>
